:root {
    --black-color: #222222;
    --pink-color: #F16D7F;
    --pink-background: #F1E4E6;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    width: 1600px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


.header {
    background-color: var(--black-color);
}

.header__container {
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    background-color: transparent;
    border: none;
}

.header__button:hover, 
.header__button:focus {
    opacity: .8;
}

.header__button:active {
    opacity: .5;
}

.header__menu-list,
.header__logo-container {
    display: flex;
    align-items: center;
}

.header__menu-item:not(:last-of-type) {
    margin: 0 34px 0 0;
}

.name {
    display: flex;
}

.name__header-span {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: var(--pink-color);
}

.name__header {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.name__content {
    width: 100%;
    padding: 335px 0 0 64px;
    background-color: var(--pink-background);
}

.name__header {
    position: relative;
    padding: 0 0 0 28px;
}

.name__header::before{
    position: absolute;
    content: '';
    width: 12px;
    height: 100%;
    background-color: var(--pink-color);
    left: -12px;
}

.stock__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stock__item1 {
    width: 360px;
    height: 260px;
    background-image: url(../img/stock-women.jpg);
    text-align: center;
    float: left;
}

.stock__item2 {
    width: 360px;
    height: 260px;
    background-image: url(../img/for%20men.png);
    text-align: center;
}

.stock__item3 {
    width: 360px;
    height: 260px;
    background-image: url(../img/for%20kids.png);
    text-align: center;
    float: right;
}


.stock__item--last {
    height: 180px;
    width: 100%;
    border-radius: 0px;
    margin-top: 30px;
    background-image: url(../img/accesories.png);
    text-align: center;
}

.stock_container {
    padding-top: 63px;
    padding-right: 228px;
    padding-left: 232px;
}

.stock__item-name {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.stok_item-category {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--pink-color);
}

.stock_item_name {
    padding: 105px 125px 105px 125px;
}

.stock_lastitem_name {
    padding: 65px 490px 65px 490px;
}

.fetured_items_container{
    padding-top: 97px;
    padding-right: 228px;
    padding-left: 232px;
}

.fetured_item_list {
    display: flex;
    flex-wrap: wrap;
}

.fetured_items_title {
    padding-left: 480.3600305175781px;
    padding-top: 97px; 
    padding-bottom: 6px;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
}

.fetured_items_subtitle {
    padding-left: 401.0000305175781px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;
}

.fetured_item1 {
    height: 581px;
    width: 360.0000305175781px;
    border-radius: 0px;
    background: #F8F8F8;
    float: left;
    margin-top: 48px;
    margin-bottom: 30px;
}

.fetured_item2 {
    height: 581px;
    width: 360.0000305175781px;
    border-radius: 0px;
    background: #F8F8F8;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 48px;
    margin-bottom: 30px;
}

.fetured_item3 {
    height: 581px;
    width: 360.0000305175781px;
    border-radius: 0px;
    background: #F8F8F8;
    float: right;
    margin-top: 48px;
    margin-bottom: 30px;
}

.fetured_item4 {
    height: 581px;
    width: 360.0000305175781px;
    border-radius: 0px;
    background: #F8F8F8;
    float: left;
}

.fetured_item5 {
    height: 581px;
    width: 360.0000305175781px;
    border-radius: 0px;
    background: #F8F8F8;
    margin-right: 30px;
    margin-left: 30px;
}

.fetured_item6 {
    height: 581px;
    width: 360.0000305175781px;
    border-radius: 0px;
    background: #F8F8F8;
    float: right;
}

.fetured_item_name {
    padding-top: 25.35px;
    padding-left: 18px;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.fetured_item_description {
    padding-top: 12.65px;
    padding-left: 16.46px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #5D5D5D;
}

.price {
    padding-top: 18px;
    padding-left: 18.41px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
}

.allproducts_buttom {
    margin-top: 48.5px;
    margin-left: 465.5000305175781px;
    margin-bottom: 95.5px;
    height: 47px;
    width: 211px;
    border-radius: 0px;
    border: 1px solid #FF6A6A;
    text-align: center;
}

.allproducts_buttom_name{
    padding-top: 14.5px;
    padding-left: 38.5px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F26376;
}

.advantages {
    height: 341px;
    width: 1600px;
    left: 0px;
    top: 2960px;
    border-radius: 0px;
    background-color: #222224;
}

.advantages__box {
    display: flex;
    width: 1600px;
    padding-top: 103px; 
    padding-bottom: 104px;
    text-align: center
}

.advantages__item1 {
    padding-left: 230px;
    padding-right: 30px;
}

.advantages__item3 {
    padding-right: 230px;
    padding-left: 30px;
}

.advantages__title {
    padding-bottom: 16px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
}

.advantages__text {
    height: 34px;
    width: 360px;
    margin-bottom: 104px; 
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
    filter: brightness(70%);
}

.advantages__img1 {
    padding-bottom: 28.07px;
}

.advantages__img2 {
    padding-bottom: 19.07px;
}

.advantages__img3 {
    padding-bottom: 25.07px;
}

.link {
    height: 448px;
    width: 1600px;
    border-radius: 0px;
    background-image: linear-gradient(rgba(204, 204, 204, 0.6), rgba(243,243,243,0.8)), url(/img/link-back.png);
}

.link__box {
    display: flex;
}

.information {
    display: flex;
    height: 79px;
    width: 1600px;
    background: #222224;
    display: flex;
}

.link__photo {
    height: 96px;
    width: 96px;
    border-radius: 0px;
    padding-top: 97px;
    padding-left: 352px;
}

.link__quote {
    display: block;
    padding-top: 30px;
    padding-left: 230.29px;
    height: 99px;
    width: 359.4493408203125px;
    border-radius: nullpx;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #222224;
}

.link__box2 {
    padding-top: 150px;
    margin-left: 327.26px; 
}

.link__title {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #222224;
}

.link__subtitle {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 32px;    
}

.link__input {
    filter: brightness(93%);
}

.link__buttom {
    padding-left: 264px;
}

.information__copyright {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FBFBFB;
    padding-top: 30px;
    padding-left: 235px;
    height: 79px;
    width: 1600px;
    border-radius: 0px;
}

.information__icon1 {
    padding-top: 24px;
}

.information__icon2 {
   padding-top: 24px;
   padding-left: 7.29px; 
}

.information__icon3{
   padding-top: 24px;
   padding-left: 7.29px;
}

.information__icon4 {
   padding-right: 230.34px;
   padding-top: 24px;
   padding-left: 7.29px;
}
